@font-face{
	font-family: "Raleway";
	src: url('../fonts/Raleway-Regular.ttf');
}

html, body, h1, h2, h3, h4, h5, h6, p {
	font-family: "Raleway";
}

body{
	margin:0;
	font-family: "Raleway";
	font-size: 1em;
	color:white;
	background-color: rgba(166, 157, 145, 0.3);
}

@font-face{
	font-family:;
}

h1{
	font-size:1.5em;
}

/* Barra Superior */

.centro{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
}

#barra{
	height: 50px;
	width:100%;
	background-color: #730C0F;
	position:fixed;
	top:0;
	left:0;
	right:0;
}

#back{
	float:left;
	width:25px;
	height: 25px;
	margin:12px 0px 0px 12px;
}

#titpag{
	float:left;
	color:white;
	height:100px;
	margin-top:35px;
}

#config{
	float:right;
	widows: 25px;
	height: 25px;
	margin: 12px 12px 0px 0px;
}

/* Fin Barra*/

/* Cos */

#container{
	width:90%;
	margin-left:5%;
	margin-right:5%;
	margin-top:15%;
}

#notificacion{
	width: 100%;
	clear:both;
}

#activo{
	float:left;
	width: 20%;
	border-radius:50%;
	margin-bottom:5%;
}


#infonotif{
	float:left;
	width:75%;
	margin-left:5%;
	margin-top:2.5%;
	border-radius:10px;
	background-color:rgb(244, 152, 17);
	text-align:center;
}

#cancelada{
	float:left;
	height:100%;
	width:80%;
	border-radius:10px;
	background-color:rgb(255, 10, 10);
	padding:2%;
}

#leido{
	float:left;
	height:100%;
	width:80%;
	border-radius:10px;
	background-color:rgb(128, 128, 128);
	padding:2%;
}



/* Final del Cos */
@media screen and (orientation:landscape) { 

	#container{
	width:90%;
	margin:8% 5% 0% 5%;
}

}
