body{
	margin:0;
	font-family: "Raleway";
	font-size: 25px;
	
}

@font-face{
	font-family:;
}

#prueba{
	height: 100px;
	width:100%;
	background-color: red;
	position:fixed;
}

#burguer{
	width: 75%;
	height:2000px;
	transition-duration: 1s;
	background-color: blue;
	position: fixed;
	top:0;
	left:-75%;
	z-index: 10;
}

@media only screen and (min-width: 600px)
{
	#prueba{
	height: 150px;
}
}
