body{
	margin:0;
	font-family: "Raleway";
	font-size: 25px;
}

@font-face{
	font-family:;
}

#barra{
	height: 100px;
	width:100%;
	background-color: #730C0F;
	position:fixed;
}

#menuburguer{
	width:50px;
	height: 50px;
	margin:25px;
}

/* Aquí empieza el menú hamburguesa*/

#burguer{
	width: 75%;
	height:2000px;
	transition-duration: 1s;
	background-color: #BFAE8F;
	position: fixed;
	top:0;
	left:-75%;
	z-index: 10;
}

.tanca{
	width:5%;
	z-index: 20;
	position:fixed;
	top:0;
	margin-left:70%;
}

.bgportada{
	width:100%;
	position:relative;
	float:left;
	box-shadow: 0 0 2 3px black;
}

#bgperfil{
	position:absolute;
	width:100%;
	margin-left:5%;
	margin-top:10%;
}

.bgimgperfil{
	border-radius:50%;
	width:20%;
	box-shadow: 0 0 3px black;
	float:left;
}

.bgnomperfil{
	float:left;
	color:white;
	font-size: 1.5em;
	text-shadow: 0 0 3px black;
	margin:10%;
}

#bgllista{
	margin-top:50%;
	margin-left:5%;
}

#bgcatlist{
	margin: 5% 0 5% 0;
}

hr{
	margin-right:20%;
	border: 1 solid #ffffff;
}

#pruebaloca{
	display: none;
}

#bgllista{
	list-style:none;
	color:white;
}

#bgcat{
	/*margin-right:30%;*/
}

.imgdespl{
	margin-left:25%;
}

#bgviscat{
	width: 5%;
}

#bginviscat{
	width: 5%;
	display:none;
}

/*Aquí acaba el menú hamburguesa*/

@media only screen and (min-width: 600px)
{
	#prueba{
	height: 150px;
	}

	.bgnomperfil{
	float:left;
	color:white;
	font-size: 2em;
	margin: 7.5% 0 0 5%;
	text-shadow: 0 0 3px black;
	}

	#bgllista{
		font-size: 2em;
	}
}
