html, body, h1, h2, h3, h4, h5, h6, p {
	margin:0;
	font-family: "Raleway";
	font-size: 25px;
	color:white;
}

body{
	background-color: rgba(166, 157, 145, 0.3);
}

@font-face{
	font-family:;
}

/* Barra Superior */

#barra{
	height: 100px;
	width:100%;
	background-color: #730C0F;
	position:fixed;
	z-index:1000;
}

#back{
	float:left;
	width:50px;
	height: 50px;
	margin:25px;
}

#titpag{
	float:left;
	font-size:150%;
	color:white;
	height:100px;
	margin-top:25px;
}

#config{
	float:right;
	width:50px;
	height: 50px;
	margin:25px;
}

/* Fin Barra*/

/* Cos */

#imgportada{
	margin-top:100px;
	width: 100%;
	box-shadow: 0px 0px 5px grey;
	float:left;
}

#infoperfil{
	float:left;
	margin-top:-6%;
	width:100%;

}

#imgperfil{
	float:left;
	width:35%;
	box-shadow: 0px 0px 10px black;
	border-radius: 50%;
	margin-top:0;
}

#nomperfil{
	float:left;
	margin-top:30%;
	color:black;
}

#valoracions{
	float:left;
	width:100%;
	margin-top:40%;
	margin-left:20%;
	list-style:none;
	overflow:hidden;
}


#clip{
	float:left;
	width:10%;
	height:10%;
	display:block;
}

#clipcolor01, #clipcolor02, #clipcolor03, #clipcolor04, #clipcolor05{
	display:none;
}

#clipgris01, 



/* Final del cos*/