@font-face{
	font-family: "Raleway";
	src: url('../fonts/Raleway-Regular.ttf');
}

html, body, h1, h2, h3, h4, h5, h6, p {
	font-family: "Raleway";
}

body{
	margin:0;
	font-family: "Raleway";
	font-size: 1em;
	color:white;
	background-color: rgba(166, 157, 145, 0.3);
}

h1{
	font-size:1.5em;
}

h2{
	font-size:1.25em;
}

/* Barra Superior */

.centro{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
}

#barra{
	height: 50px;
	width:100%;
	background-color: #730C0F;
	position:fixed;
	top:0;
	left:0;
	right:0;
}

#back{
	float:left;
	width:25px;
	height: 25px;
	margin:12px 0px 0px 12px;
}

#titpag{
	float:left;
	color:white;
	height:100px;
	margin-top:35px;
}

#config{
	float:right;
	width:50px;
	height: 50px;
	margin:25px;
}

a{
	text-decoration: none;
}

/* Fin Barra*/

/* Cos */

#container{
	width:90%;
	margin:10% 5% 0% 5%;
}

#solicitud{
	width: 100%;
	margin-top: 2.5%;
	clear:both;
}

#activo{
	float:left;
	width: 20%;
	border-radius:50%;
}

#infonotif{
	color:black;
	text-align:left;
	padding-left:30%;
}

#acepneg{
	clear:both;
	width:100%;
}

#nombre{
	padding-top:6%;
}

#prop{
	width:47.5%;
	height:30px;
	float:left;
	text-align:center;
	padding:4px;
}

.acept{
	margin: 2.5% 2.5% 5% 0%;
	background-color: rgb(138, 137, 137);
}

.deneg{
	margin: 2.5% 0% 5% 2.5%;
	background-color: rgb(228, 82, 49);
}

		.color01{
			background-color: rgba(134, 23, 16, 0.6);
		}

		.color02{
			background-color: rgba(119, 18, 49, 0.6);
		}

		.color03{
			background-color: rgba(6, 136, 162, 0.6);
		}

		.color04{
			background-color: rgba(134, 23, 16, 0.6);
		}

		.color05{
			background-color: rgba(28, 49, 58, 0.6);
		}

		.color06{
			background-color: rgba(81, 75, 23, 0.6);
		}


/* Final del Cos */

@media screen and (orientation:landscape) { 

	#container{
	width:90%;
	margin:8% 5% 0% 5%;
}

}
