@font-face{
	font-family: "Raleway";
	src: url('../fonts/Raleway-Regular.ttf');
}

html, body, h1, h2, h3, h4, h5, h6, p {
	font-family: "Raleway";
}


body{
	margin:0;
	font-family: "Raleway";
	font-size: 1em;
	color:white;
	background-color: rgba(166, 157, 145, 0.3);
	width:100%;
	height:auto;
	position:fixed;
	bottom:0;
	left:0;
	right:0;
	top:0;
	overflow:scroll;
}

@font-face{
	font-family:;
}

h1{
	font-size:1.5em;
}

/* Barra Superior */

.centro{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
}

#barra{
	height: 50px;
	width:100%;
	background-color: #730C0F;
	position:fixed;
	top:0;
	left:0;
	right:0;
}

#back{
	float:left;
	width:25px;
	height: 25px;
	margin:12px 0px 0px 12px;
}

#titpag{
	float:left;
	color:white;
	height:100px;
	margin-top:35px;
}

#config{
	float:right;
	widows: 25px;
	height: 25px;
	margin: 12px 12px 0px 0px;
}

/* Fin Barra*/

/* Cos */

#container{
	width:90%;
	margin:15% 5% 0% 5%;
}

#conver{
	width:100%;

}

#fotochat{
	width:25%;
	z-index:500;
	clear:both;
	border-radius: 50%;
	margin: 2% 37.5% 0% 37.5%;
	box-shadow: 0 0 5px grey;
}

#fotos{
	width:100%;
	clear:both;
}

#fotogrupo{
	width:15%;
	z-index:500;
	float:left;
	border-radius: 50%;
	margin: 2.5%;
	box-shadow: 0 0 5px grey;
}

#recibido{
	width:75%;
	padding:0;
	background-color:rgb(244, 152, 17);
	float:left;
	text-align:left;
	padding:2%;
	border-radius:10px;
	margin-top:5%;
}

#fotomensaje{
	width:15%;
	border-radius: 50%;
	box-shadow: 0 0 5px grey;
	margin-top:-5%;
	margin-left:-5%;
}

#enviado{
	width:75%;
	padding:0;
	background-color:rgb(115, 115, 115);
	float:right;
	text-align:left;
	padding:2%;
	border-radius:10px;
	margin-top:5%;
}

#enviar{
	width:100%;
	height:50px;
	background-color:rgb(244, 152, 17);
	position:fixed;
	bottom:0;
	right:0;
	left:0;
}

#sendmsg{
	width:60%;
	height:80%;
	margin-left:10%; 
	margin-top:1%;
	border:0;
	color:black;
	text-align:left;
	padding-left:2%;
	float:left;
}


#triangulo{
	height:70%;
	width:auto;
	margin-top:1.5%;
}

.paraenv{
	margin-left:5%;
}

.paracam{
	margin-left:2%;
}

/* Final del Cos */

@media screen and (orientation:landscape) { 

	#container{
	width:90%;
	margin:8% 5% 0% 5%;
}

}
